# Data Exploration
Exploring dataset recieved from FPL API. Can be used as inital exploration before preprocessing.

## Packages

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os
import time
import sys
from datetime import datetime

Matplotlib is building the font cache; this may take a moment.

## Importing Custom Functions

In [12]:
path_to_files = os.environ['FPL_path']

sys.path.append(path_to_files)

In [13]:
from Custom_Functions import find_column_type

## Reading Dataset

In [4]:
start_time = time.time()
df = pd.read_csv(path_to_files + 'Datasets/detailed_player_dataset_10112022.csv')
print('Time to load dataset: ', time.time() - start_time)

Time to load dataset:  0.07292056083679199

## Exploration

In [5]:
df.shape

(8491, 36)

In [6]:
df.head()

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out
0,1,1,7,0,False,2022-08-05T19:00:00Z,0,2,1,0,...,0,0.0,0.0,0.0,0.0,45,0,23970,0,0
1,1,11,10,0,True,2022-08-13T14:00:00Z,4,2,2,0,...,0,0.0,0.0,0.0,0.0,44,-5169,24193,1361,6530
2,1,21,3,0,False,2022-08-20T16:30:00Z,0,3,3,0,...,0,0.0,0.0,0.0,0.0,44,-4337,20960,879,5216
3,1,31,9,0,True,2022-08-27T16:30:00Z,2,1,4,0,...,0,0.0,0.0,0.0,0.0,43,-2988,18825,577,3565
4,1,41,2,0,True,2022-08-31T18:30:00Z,2,1,5,0,...,0,0.0,0.0,0.0,0.0,43,-1611,17790,405,2016

In [11]:
df.columns

Index(['element', 'fixture', 'opponent_team', 'total_points', 'was_home',
       'kickoff_time', 'team_h_score', 'team_a_score', 'round', 'minutes',
       'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded', 'value',
       'transfers_balance', 'selected', 'transfers_in', 'transfers_out'],
      dtype='object')

In [14]:
df.describe()

,element,fixture,opponent_team,total_points,team_h_score,team_a_score,round,minutes,goals_scored,assists,...,starts,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,value,transfers_balance,selected,transfers_in,transfers_out
count,8491.000000,8491.000000,8491.000000,8491.000000,8491.00000,8491.000000,8491.000000,8491.000000,8491.000000,8491.000000,...,8491.0,8491.0,8491.0,8491.0,8491.0,8491.000000,8.491000e+03,8.491000e+03,8.491000e+03,8.491000e+03
mean,314.534684,77.981039,10.553881,1.341774,1.76163,1.107055,8.242492,31.563656,0.043576,0.038982,...,0.0,0.0,0.0,0.0,0.0,50.000000,1.038662e+03,2.388745e+05,1.906483e+04,1.802617e+04
std,181.337003,45.036826,5.808690,2.483827,1.58911,1.044684,4.493572,39.556410,0.231215,0.209351,...,0.0,0.0,0.0,0.0,0.0,11.563172,8.440121e+04,7.105824e+05,7.259972e+04,6.260256e+04
min,1.000000,1.000000,1.000000,-4.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,38.000000,-1.999266e+06,0.000000e+00,0.000000e+00,0.000000e+00
25%,158.000000,37.000000,5.000000,0.000000,1.00000,0.000000,4.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,44.000000,-2.435500e+03,6.572000e+03,6.000000e+01,2.980000e+02
50%,316.000000,84.000000,10.000000,0.000000,1.00000,1.000000,9.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,45.000000,-2.310000e+02,2.773100e+04,7.970000e+02,1.939000e+03
75%,470.000000,118.000000,16.000000,2.000000,2.00000,2.000000,12.000000,85.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,53.000000,7.000000e+00,1.280820e+05,6.372000e+03,1.083550e+04
max,661.000000,150.000000,20.000000,23.000000,9.00000,4.000000,15.000000,90.000000,3.000000,3.000000,...,0.0,0.0,0.0,0.0,0.0,130.000000,1.332069e+06,8.989666e+06,1.384843e+06,2.041377e+06

In [9]:
# Number of players in FPL
len(df['element'].unique())

661

In [10]:
len(df['fixture'].unique())

136

In [15]:
cat_cols, bool_cols, num_cols = find_column_type(df)

NameError: name 'np' is not defined